node_modules/
.gradle/
build/
*/build/
.idea/
*.iml
local.properties
*.apk
*.aab
*.log
.DS_Store
Thumbs.db

files/node_modules/
files/android/.gradle/
files/android/build/
files/android/app/build/
files/android/.idea/
files/android/local.properties/
